<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Revoltas</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <div padding>
            <ion-segment [(ngModel)]="revoltas">
                <ion-segment-button value="nativistas">
                    Nativistas
                </ion-segment-button>
                <ion-segment-button value="emancipacionista">
                    Separatistas
                </ion-segment-button>
            </ion-segment>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <div [ngSwitch]="revoltas">
        <div *ngSwitchCase="'nativistas'">
            <ion-card (click)="viewDetail(fact)" *ngFor="let fact of revoltsNativist">
                <img src="./assets/img/revoltas/{{fact.medias[1].images[0].src}}">
                <ion-item>
                    <p>{{fact.startYear}}</p>
                    <h2>{{fact.title}}</h2>
                </ion-item>

                <ion-item>
                    <!-- <span item-left>18 min</span> -->
                    <span item-left>#revoltas #nativistas</span>
                    <!-- <button ion-button icon-left clear item-right>
                        <ion-icon name="navigate"></ion-icon>
                        Start
                    </button> -->
                </ion-item>
            </ion-card>
        </div>
        <div *ngSwitchCase="'emancipacionista'">
            <ion-card (click)="viewDetail(fact)" *ngFor="let fact of revoltsEmancipacionists">
                <img src="./assets/img/revoltas/{{fact.medias[1].images[0].src}}">
                <ion-item>
                    <p>{{fact.startYear}}</p>
                    <h2>{{fact.title}}</h2>
                </ion-item>

                <ion-item>
                    <!-- <span item-left>18 min</span> -->
                    <span item-left>#revoltas #emancipacionista</span>
                    <!-- <button ion-button icon-left clear item-right>
                        <ion-icon name="navigate"></ion-icon>
                        Start
                    </button> -->
                </ion-item>
            </ion-card>
        </div>
    </div>
</ion-content>