page-home {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            z-index: 1;
        }
        .my-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            top: 0;
            left: 0;
        }
        .card-subtitle {
            font-size: 1.2em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
            z-index: 1;
        }
    }
}